body {
    margin: 0;
    font-family: Inter, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
* {
    scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Inter;
    font-weight: 700;
    font-display: swap;
    src: url('./assets/fonts/Inter/Inter-Bold.ttf') format('ttf');
}
@font-face {
    font-family: Inter;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/fonts/Inter/Inter-Regular.ttf') format('ttf');
}

@font-face {
    font-family: Inter;
    font-weight: 500;
    font-display: swap;
    src: url('./assets/fonts/Inter/Inter-Medium.ttf') format('ttf');
}

@font-face {
    font-family: Noto Sans JP;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/fonts/Noto_Sans_JP/NotoSansJP-Regular.otf') format('otf');
}

@font-face {
    font-family: Noto Sans JP;
    font-weight: 500;
    font-display: swap;
    src: url('./assets/fonts/Noto_Sans_JP/NotoSansJP-Medium.otf') format('otf');
}

@font-face {
    font-family: Noto Sans JP;
    font-weight: 700;
    font-display: swap;
    src: url('./assets/fonts/Noto_Sans_JP/NotoSansJP-Bold.otf') format('otf');
}
